@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    height: 100vh;
    background: linear-gradient(111deg, #955FBA 10.21%, #CEA2D0 90.49%);
    display: flex;
    flex-direction: column;
     
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 22px;
    



}
.top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.bottom {
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.left-side {
    border-radius: 50px 0px 0px 50px;
    background: #F3F4F6;

    width: 788px;
    height: 700px;
    flex-shrink: 0;

    
}
.right-side {
    border-radius: 0px 50px 50px 0px;
    background: #FFF;

    width: 788px;
    height: 700px;
    top: 135px;
    left: 829px;
    flex-shrink: 0;
    
}
.left-bottom {
    width: 788px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.right-bottom {
    width: 788px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
   
}
.button-opasity {
    padding: 20px;
    border: 2px solid #FFF;
    border-radius: 20px;
    color: #FFF;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-family: Roboto;
    
}



